<html
  lang='en'
  xmlns='http://www.w3.org/1999/xhtml'
  xmlns:v='urn:schemas-microsoft-com:vml'
  xmlns:o='urn:schemas-microsoft-com:office:office'
>
  <head>
    <!--[if !mso]><!-->
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <!--<![endif]-->
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link
      href='https://fonts.googleapis.com/css?family=Inter:400,700'
      rel='stylesheet'
      type='text/css'
    />
    <meta name='color-scheme' content='light dark' />
    <meta name='supported-color-schemes' content='light dark' />

    <!--[if gte mso 9]>
  <style>a:link,span.MsoHyperlink{mso-style-priority:99;color:inherit;text-decoration:none;}a:visited,span.MsoHyperlinkFollowed{mso-style-priority:99;color:inherit;text-decoration:none;}li{text-indent:-1em;}table,td,p,div,span,ul,ol,li,a{mso-hyphenate:none;}
  </style>
  <![endif]-->
  </head>
  <body>
    <br>
    Default Layout
    <br>
    {{{body}}}
  </body>

</html>